body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.player-hand {
  position: relative;
}

:root{ --scale_factor: 8; }

.card {
  background-image: url("/images/cards.png");
  height: calc(258px / var(--scale_factor));
  width: calc(176px  / var(--scale_factor));
  position: absolute;
  background-size: calc(2572px  / var(--scale_factor)) calc(1397px  / var(--scale_factor));
}

.card ~ .card {
  left: 25px;
}

.card ~ .card ~ .card {
  left: 25px;
}

.five {
  background-position-x: calc(-1000px  / var(--scale_factor));
}

.eight {
  background-position-x: calc(-1600px  / var(--scale_factor));
}

.blue {
  background-position-y: calc( -285px  / var(--scale_factor));
}

.red {
  background-position-y: 0px;
}

.yellow {
  background-position-y: calc(-570px  / var(--scale_factor));
}

.green {
  background-position-y: calc(-855px / var(--scale_factor));
}